body {
    @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@700&family=Jost:ital,wght@0,300;1,300&family=Lato:ital,wght@0,700;0,900;1,300;1,400&family=Playfair:ital,wght@1,300&family=Poppins:ital,wght@0,500;1,400;1,600;1,900&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Iheading {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #F7931A;
    width: 100%;
    box-sizing: border-box;
    height: 55px;
    font-weight: 600;
    border: none;
    font-size: 16px;
    text-align: center;
}

.Ihead4 {
    margin-top: 12px;
    font-family: "Titillium Web", Arial, sans-serif;
}

.Inav {
    display: flex;
    justify-content: space-between;
}

.Iul {
    display: flex;
    list-style: none;
    gap: 27px;
    margin-right: 18rem;
}

.Iheader {
    margin-top: 18px;
}

.Iimagediv img {
    margin-left: 25rem;
}

.Ili {
    margin-top: 11px;
}

.Iimagediv2 {
    position: relative;
}

.Iimg1 {
    width: 100%;
}

.Ili a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
}

.Ili a:hover {
    color: white;
    background-color: #F7931A;
}

.Icontentdiv1 {
    position: absolute;
    left: 34%;
    color: white;
    top: 45px;
}

.Icontentdiv1 h1 {
    margin-left: 53px;
}

.Icontentdiv1 p {
    margin-top: 25px;
    font-size: 137.5%;
    color: #9D9D9D;
}

.Icontentdiv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 34px;
    gap: 8px;
}

.Icontentdiv2 h4 {
    width: 410px;
    font-size: 1.5rem;
    line-height: 32px;
    font-weight: 500;
}

.Icontentdiv2 p {
    width: 480px;
    font-size: 17px;
    line-height: 30px;
}

/* footer------------------------------- */

.Fimage1 img {
    width: 100%;
}

.Fimage1 {
    position: relative;

}

.Fimage2 {
    top: 37%;
    position: absolute;
    left: 43%;
    width: 15%;
}

.Fcontainer {
    display: flex;
    justify-content: center;
}
.F2container{
    display: flex;
    margin-top: 9rem;
    gap: 27px;
}
.F2container button{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
}
.F2container button:hover{
    color: white;
    background-color: #F7931A;
    cursor: pointer;
}
.F2container span{
    font-size: 26px;
    color: gray;

}
    
.Fmain {
    margin-top: 32px;
    margin-left: 15rem;
}

.Ful {
    margin-top: 21px;
}

.Fli {
    list-style: none;
    padding: 13px;

}

.Fli a {
    text-decoration: none;
    color: black;
}

.Fli a:hover {
    color: #7919FF;
}

footer {
    background-color: #f5f5f7;
}

.Fbottom p {
    background-color: #13161f;
    color: #9d9d9d;
    text-align: center;
    padding: 11px;
}
.service-common{
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 0 10px #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    padding: 2rem;
    width: 18rem;
}
.Himg{
    align-items: center;
    display: flex;
    height: 5rem;
    width: 100%;
}
.Himg img{
width: 32%;
}
.Icontentdiv3{
    display: flex;
    gap: 5rem;
    margin-left: 6rem;
}